<div class="class margin">
  <h1>Stupid Coaching</h1>


  <h2> <%= @questions %></h2>
  <h3> - You</h3>


  <div class="backgroundcoach">
  <h2><%= @answers %> </h2>
  <h3><i>- Your coach </i></h3>
  </div>

  <p> <%= link_to "Ask another question", "ask" %></p>
</div>

