
<div class="text-center">
  <h1>Ask a question</h1>
</div>

<div class="text-center">
  <form action="/questions/answer">
    <input type="text" name="questions">
    <input type="submit" class="btn btn-success" value="What is your question?">
  </form>
</div>


